<div class="container-fluid px-3 py-2 bg-section">

  <div class="header-wrapper">

    <!-- Left Side -->
    <div class="left-section">

      <app-side-bar></app-side-bar>

      <img
        src="assets/images/smallLogo.png"
        class="logo-img"
        alt="logo"
      >

    </div>

    <!-- Right Side -->
    <div class="right-section">

      <app-navbar></app-navbar>

    </div>

  </div>

</div>



<div class="container-fluid main-section">
<div class="row">
  <img src="/assets/images/not.jpg">
</div>
</div>
