<div class="events-header">

  <!-- Left Side -->
  <div class="header-left">
    <h1>Agreements</h1>

    <div class="breadcrumb">
      <a routerLink="/mainDashboard/Overview">Dashboard</a>
      <span>/</span>
      <p>Agreements</p>
    </div>
  </div>

  <!-- Right Side -->
  <div class="header-right">

    <!-- Search -->
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass"></i>

      <input
        type="text"
        placeholder="Search agreements, parties, titles..."
      />

      <span>⌘K</span>
    </div>

    <!-- Notification -->
    <div class="notification">
      <i class="fa-regular fa-bell"></i>
      <span>8</span>
    </div>

    <!-- Create Button -->
    <button class="create-btn">
      <i class="fa-solid fa-plus"></i>
    New Agreement

      <i class="fa-solid fa-chevron-down"></i>
    </button>

  </div>

</div>
