

/* table & controllers */

/* ================================================= */
/* ================= WRAPPER ======================= */
/* ================================================= */

.space-wrapper{

  width: 100%;
}

.space-table-card{

  background:
    radial-gradient(
      circle at top,
      rgba(255,255,255,.03),
      rgba(255,255,255,.01)
    ),
    #070707;

  border: 1px solid #1a1a1a;

  border-radius: 8px;

  position: relative;

  overflow: visible !important;

  isolation: isolate;
}

/* ================================================= */
/* ================= HEADER ======================== */
/* ================================================= */

.space-header{

  padding: 18px;

  border-bottom: 1px solid #161616;

  position: relative;

  z-index: 99999;

  overflow: visible !important;
  margin-bottom: 0 !important;
}

/* ================================================= */
/* ================= TABS ========================== */
/* ================================================= */

.space-tabs{

  display: flex;

  align-items: center;

  gap: 6px;

  overflow-x: auto;

  scrollbar-width: none;
}

.space-tabs::-webkit-scrollbar{

  display: none;
}

.space-tabs button{

  height: 35px;

  border: none;

  background: transparent;

  color: #9b9b9b;

  font-size: 14px;

  font-weight: 600;

  padding: 0 10px;

  position: relative;

  transition: .3s;

  cursor: pointer;

  white-space: nowrap;

  flex-shrink: 0;
}

.space-tabs button:hover{

  color: #fff;
}

.space-tabs button.active{

  color: #ff2d3f;
}

.space-tabs button.active::after{

  content: '';

  position: absolute;

  bottom: 0;

  left: 0;

  width: 100%;

  height: 2px;

  background: #b10012;
}

/* ================================================= */
/* ================= ACTIONS ======================= */
/* ================================================= */

.space-actions{

  display: flex;

  align-items: center;

  justify-content: flex-end;

  gap: 12px;

  position: relative;

  z-index: 999999;

  overflow: visible !important;
}

/* ================================================= */
/* ================= BUTTON ======================== */
/* ================================================= */

.header-btn{

  height: 44px;

  border-radius: 12px;

  border: 1px solid #1f1f1f;

  background: #0d0d0d;

  color: #e4e4e4;

  padding: 0 16px;

  font-size: 13px;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 10px;

  cursor: pointer;

  transition: .3s ease;

  white-space: nowrap;

  flex-shrink: 0;
}

.header-btn:hover{

  border-color: #353535;

  background: #111;
}

/* ================================================= */
/* ================= FILTER ======================== */
/* ================================================= */

.filter-dropdown{

  position: relative;

  flex-shrink: 0;

  z-index: 9999999;
}

.filter-menu{

  position: absolute;

  top: calc(100% + 12px);

  left: 0;

  width: 280px;

  background: #0b0b0b;

  border: 1px solid #1d1d1d;

  border-radius: 18px;

  padding: 16px;

  display: flex;

  flex-direction: column;

  gap: 14px;

  z-index: 99999999;

  box-shadow:
    0 20px 60px rgba(0,0,0,.7);

  overflow: visible;
}

.filter-menu button{

  width: 100%;

  height: 48px;

  border: none;

  border-radius: 14px;

  background: #111;

  color: #fff;

  font-size: 14px;

  display: flex;

  align-items: center;

  gap: 12px;

  padding: 0 16px;

  transition: .3s;

  cursor: pointer;
}

.filter-menu button:hover{

  background: #181818;
}

/* ================================================= */
/* ================= SELECT ======================== */
/* ================================================= */

.small-select-wrapper{

  display: flex;

  flex-direction: column;

  gap: 8px;
}

.small-select-wrapper label{

  color: #8d8d8d;

  font-size: 12px;
}

.small-select-wrapper select{

  width: 100%;

  height: 44px;

  border-radius: 12px;

  border: 1px solid #1f1f1f;

  background: #111;

  color: #fff;

  padding: 0 14px;

  font-size: 13px;

  outline: none;
}

/* ================================================= */
/* ================= DATE ========================== */
/* ================================================= */
/* ====================================== */
/* DESKTOP */
/* ====================================== */

.desktop-date-picker{

  position: relative;

  display: flex;
}

.hidden-date-input{

  position: absolute;

  opacity: 0;

  pointer-space: none;

  width: 0;

  height: 0;
}

/* ====================================== */
/* MOBILE */
/* ====================================== */

.mobile-date-picker{

  position: relative;

  display: none;
}

.real-date-input{

  position: absolute;

  inset: 0;

  width: 100%;

  height: 100%;

  opacity: 0;

  cursor: pointer;

  z-index: 20;
}

.mobile-date-picker .header-btn{

  pointer-space: none;
}

/* ====================================== */
/* RESPONSIVE */
/* ====================================== */

@media(max-width:992px){

  .desktop-date-picker{

    display: none;
  }

  .mobile-date-picker{

    display: flex;
  }
}

/* ================================================= */
/* ================= TABLE ========================= */
/* ================================================= */

.custom-table-wrapper{

  width: 100%;

  overflow-x: auto;

  overflow-y: hidden;

  position: static;
}

.custom-table-wrapper::-webkit-scrollbar{

  height: 5px;
}

.custom-table-wrapper::-webkit-scrollbar-thumb{

  background: #222;

  border-radius: 8px;
}

.space-table{

  width: 100%;

  min-width: 1200px;

  border-collapse: collapse;
}

/* ================================================= */
/* ================= TABLE HEAD ==================== */
/* ================================================= */

.space-table thead{

  background: #0b0b0b;
}

.space-table th{

  color: #8d8d8d;

  font-size: 12px;

  font-weight: 500;

  text-align: left;

  padding: 16px 22px;

  border-bottom: 1px solid #171717;

  white-space: nowrap;
}

/* ================================================= */
/* ================= TABLE BODY ==================== */
/* ================================================= */

.space-table td{

  padding: 14px 22px;

  border-bottom: 1px solid #121212;

  white-space: nowrap;

  vertical-align: middle;
}

.space-table tbody tr:hover{

  background: rgba(255,255,255,.01);
}

/* ================================================= */
/* ================= EVENT INFO ==================== */
/* ================================================= */

.event-info{

  display: flex;

  align-items: center;

  gap: 14px;

  min-width: 220px;
}

.event-info img{

  width: 52px;

  height: 52px;

  border-radius: 12px;

  object-fit: cover;
}
.project-manager-info{

  display: flex;

  align-items: center;

  gap: 8px;
}

.manager-img{

  width: 28px;

  height: 28px;

  border-radius: 50%;

  object-fit: cover;

  border: 1px solid rgba(255,255,255,.08);

  flex-shrink: 0;
}

.event-text h5{

  color: #fff;

  font-size: 15px;

  font-weight: 600;

  margin-bottom: 4px;
}

.event-text span{

  color: #7f7f7f;

  font-size: 12px;
}

/* ================================================= */
/* ================= DOUBLE TEXT =================== */
/* ================================================= */

.table-double-text{

  display: flex;

  flex-direction: column;

  gap: 4px;
}

.table-double-text h6{

  color: #fff;

  font-size: 13px;

  margin: 0;
}

.table-double-text span{

  color: #8b8b8b;

  font-size: 12px;
}

.single-text{

  color: #fff;

  font-size: 13px;

  font-weight: 500;
}

/* ================================================= */
/* ================= STATUS ======================== */
/* ================================================= */

.status-badge{

  height: 34px;

  padding: 0 14px;

  border-radius: 999px;

  font-size: 12px;

  font-weight: 600;

  display: inline-flex;

  align-items: center;

  justify-content: center;
}

.upcoming{

  background: rgba(0,140,255,.12);

  color: #2ba8ff;
}

.live{

  background: rgba(0,255,76,.12);

  color: #41ff70;
}

.completed{

  background: rgba(255,255,255,.08);

  color: #d2d2d2;
}

.cancelled{

  background: rgba(255,0,55,.12);

  color: #ff4d67;
}
/* ======================================= */
/* STATUS */
/* ======================================= */

.status-badge{

  min-width: 92px;

  height: 30px;

  padding: 0 14px;

  border-radius: 8px;

  font-size: 11px;

  font-weight: 600;

  display: inline-flex;

  align-items: center;

  justify-content: center;

  border: 1px solid transparent;
}

/* IN PROGRESS */

.status-badge.upcoming{

  background: rgba(0,140,255,.10);

  color: #35a8ff;

  border-color: rgba(0,140,255,.12);
}

/* PLANNING */

.status-badge.planning{

  background: rgba(139,92,246,.12);

  color: #a855f7;

  border-color: rgba(139,92,246,.15);
}

/* ON HOLD */

.status-badge.hold{

  background: rgba(255,170,0,.10);

  color: #ffb100;

  border-color: rgba(255,170,0,.15);
}

/* ======================================= */
/* PROGRESS */
/* ======================================= */

.booking-progress{

  min-width: 120px;
}

.booking-progress span{

  color: #d8d8d8;

  font-size: 12px;

  font-weight: 600;

  display: block;

  margin-bottom: 8px;
}

/* LINE */

.progress-line{

  width: 105px;

  height: 4px;

  border-radius: 999px;

  background: #1b1b1b;

  overflow: hidden;

  position: relative;
}

/* FILL */

.progress-fill{

  height: 100%;

  border-radius: 999px;
}

/* BLUE */

.progress-blue{

  background:
    linear-gradient(
      90deg,
      #1d8fff,
      #2ea7ff
    );

  box-shadow:
    0 0 8px rgba(29,143,255,.35);
}

/* PURPLE */

.progress-purple{

  background:
    linear-gradient(
      90deg,
      #8b5cf6,
      #a855f7
    );

  box-shadow:
    0 0 8px rgba(168,85,247,.35);
}

/* ORANGE */

.progress-orange{

  background:
    linear-gradient(
      90deg,
      #f59e0b,
      #ffb300
    );

  box-shadow:
    0 0 8px rgba(255,179,0,.35);
}

/* ================================================= */
/* ================= PROGRESS ====================== */
/* ================================================= */

.booking-progress{

  min-width: 120px;
}
.progress-text{
  font-size: 12px !important;
}

.booking-progress span{

  color: #fff;

  font-size: 13px;

  display: block;

  margin-bottom: 8px;
}

.progress-line{

  width: 72px;

  height: 4px;

  border-radius: 30px;

  background: #1d1d1d;

  overflow: hidden;
}

.progress-fill{

  height: 100%;

  border-radius: 30px;
}

.progress-green{

  background: linear-gradient(
    90deg,
    #39ff6f,
    #128d37
  );
}

.progress-gray{

  background: #9f9f9f;
}

.progress-red{

  background: #ff3a4d;
}
/* ====================================== */
/* STATUS */
/* ====================================== */

.status-blue{

  background: rgba(0,122,255,.12);

  color: #2d9cff;

  border: 1px solid rgba(45,156,255,.2);
}

.status-purple{

  background: rgba(140,82,255,.12);

  color: #b56cff;

  border: 1px solid rgba(181,108,255,.2);
}

.status-orange{

  background: rgba(255,166,0,.12);

  color: #ffb300;

  border: 1px solid rgba(255,179,0,.2);
}

.status-green{

  background: rgba(34,197,94,.12);

  color: #22c55e;

  border: 1px solid rgba(34,197,94,.2);
}

.status-red{

  background: rgba(239,68,68,.12);

  color: #ef4444;

  border: 1px solid rgba(239,68,68,.2);
}

/* ====================================== */
/* PROGRESS COLORS */
/* ====================================== */

.progress-blue{

  background: #2d9cff;
}

.progress-purple{

  background: #b56cff;
}

.progress-orange{

  background: #ffb300;
}

.progress-green{

  background: #22c55e;
}

.progress-red{

  background: #ef4444;
}
/* ================================================= */
/* ================= REVENUE ======================= */
/* ================================================= */

.revenue{

  color: #fff;

  font-size: 14px;

  font-weight: 600;
}

/* ================================================= */
/* ================= ACTION MENU =================== */
/* ================================================= */

.menu-cell{

  position: relative;

  width: 40px;
}

.dots-btn{

  width: 36px;

  height: 36px;

  border: none;

  background: transparent;

  color: #8f8f8f;

  border-radius: 10px;

  transition: .3s;

  cursor: pointer;
}

.dots-btn:hover{

  background: #111;

  color: #fff;
}

.action-menu{

  position: absolute;

  top: 44px;

  right: 0;

  width: 140px;

  background: #0d0d0d;

  border: 1px solid #202020;

  border-radius: 14px;

  overflow: hidden;

  z-index: 99999;

  box-shadow:
    0 10px 30px rgba(0,0,0,.45);
}

.action-menu button{

  width: 100%;

  border: none;

  background: transparent;

  color: #fff;

  padding: 13px 14px;

  display: flex;

  align-items: center;

  gap: 10px;

  font-size: 13px;

  transition: .3s;

  cursor: pointer;
}

.action-menu button:hover{

  background: #161616;
}

.delete-btn{

  color: #ff4d67 !important;
}

/* ================================================= */
/* ================= FOOTER ======================== */
/* ================================================= */

.table-footer{

  min-height: 74px;

  padding: 18px 20px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 18px;

  border-top: 1px solid #161616;

  flex-wrap: wrap;
}

.table-footer p{

  color: #7e7e7e;

  font-size: 13px;

  margin: 0;
}

/* ================================================= */
/* ================= PAGINATION ==================== */
/* ================================================= */

.pagination-box{

  display: flex;

  align-items: center;

  gap: 8px;

  flex-wrap: wrap;
}

.pagination-box button{

  width: 38px;

  height: 38px;

  border-radius: 10px;

  border: 1px solid #1f1f1f;

  background: #0b0b0b;

  color: #bdbdbd;

  font-size: 13px;

  transition: .3s;

  cursor: pointer;
}

.pagination-box button:hover{

  border-color: #353535;

  color: #fff;
}

.pagination-box button.active{

  border-color: #b10012;

  background: rgba(177,0,18,.15);

  color: #fff;
}

.pagination-box button:disabled{

  opacity: .4;

  cursor: not-allowed;
}

.pagination-box .dots{

  color: #7c7c7c;

  font-size: 18px;
}

/* ================================================= */
/* ================= PER PAGE ====================== */
/* ================================================= */

.per-page-wrapper{

  position: relative;

  min-width: 120px;
}

.per-page-select{

  width: 100%;

  height: 40px;

  border-radius: 10px;

  border: 1px solid #202020;

  background: #0c0c0c;

  color: #d8d8d8;

  font-size: 13px;

  padding: 0 38px 0 14px;

  appearance: none;

  outline: none;

  cursor: pointer;
}

.select-icon{

  position: absolute;

  right: 14px;

  top: 50%;

  transform: translateY(-50%);

  color: #8b8b8b;

  font-size: 11px;

  pointer-space: none;
}

/* ================================================= */
/* ================= TABLET ======================== */
/* ================================================= */

@media(max-width:992px){

  .space-header{

    padding: 16px;
  }

  .space-header .row{

    gap: 18px;
  }

  .space-header .col-md-5,
  .space-header .col-md-7{

    width: 100%;
  }

  .space-actions{

    justify-content: flex-start;
  }

  .table-footer{

    justify-content: center;
  }
}

/* ================================================= */
/* ================= MOBILE ======================== */
/* ================================================= */

@media(max-width:768px){

  .space-tabs{

    gap: 10px;

    padding-bottom: 10px;
  }

  .space-tabs button{

    padding: 0 16px;

    font-size: 13px;
  }



  .space-actions{

    display: flex;

    align-items: center;

    gap: 10px;

    flex-wrap: nowrap;

    overflow-x: auto;

    overflow-y: visible !important;

    padding-bottom: 10px;

    padding-right: 14px;

    scrollbar-width: none;

    -webkit-overflow-scrolling: touch;

    position: relative;

    z-index: 999999;
  }

  .space-actions::-webkit-scrollbar{

    display: none;
  }

  /* BUTTONS */

  .header-btn{

    flex: 0 0 auto;

    min-width: max-content;

    height: 46px;

    padding: 0 18px;

    font-size: 13px;

    white-space: nowrap;
  }

  /* EXPORT */

  /* .space-actions > button{

    min-width: 110px;
  } */

  /* FILTER */

  .filter-dropdown{

    position: relative;

    flex: 0 0 auto;

    z-index: 99999999;
  }

  .filter-menu{

    position: absolute;

    top: 60px;

    left: 0;

    width: 260px;

    z-index: 999999999;
  }

  .table-footer{

    flex-direction: column;

    align-items: center;

    text-align: center;
  }

  .per-page-wrapper{

    width: 100%;
  }
}




/* charts */
/* ====================================== */
/* CARD */
/* ====================================== */

.availability-card{

  background:
    linear-gradient(
      180deg,
      rgba(10,10,10,.98),
      rgba(5,5,5,.98)
    );

  border:
    1px solid rgba(255,255,255,.05);

  border-radius:8px;

  padding:18px;

  width:100%;
}

/* ====================================== */
/* HEADER */
/* ====================================== */

.availability-header{

  margin-bottom:16px;
}

.availability-header h3{

  color:#fff;

  font-size:15px;

  font-weight:700;

  margin:0;
}

/* ====================================== */
/* CONTENT */
/* ====================================== */

.availability-content{

  display:flex;

  align-items:center;

  gap:24px;
}

/* ====================================== */
/* CHART */
/* ====================================== */

.availability-chart-wrapper{

  width:150px;

  height:150px;

  position:relative;

  flex-shrink:0;
}

#availabilityChart{

  width:150px !important;

  height:150px !important;
}

/* ====================================== */
/* CENTER */
/* ====================================== */

.availability-chart-center{

  position:absolute;

  top:50%;

  left:50%;

  transform:
    translate(-50%,-50%);

  text-align:center;
}

.availability-chart-center h2{

  color:#fff;

  font-size:30px;

  font-weight:700;

  line-height:1;

  margin:0 0 4px;
}

.availability-chart-center span{

  color:#8a8a8a;

  font-size:11px;
}

/* ====================================== */
/* LIST */
/* ====================================== */

.availability-list{

  flex:1;

  display:flex;

  flex-direction:column;

  gap:12px;
}

/* ====================================== */
/* ITEM */
/* ====================================== */

.availability-item{

  display:flex;

  align-items:center;

  justify-content:space-between;
}

.availability-left{

  display:flex;

  align-items:center;

  gap:10px;
}

.availability-left p{

  color:#d7d7d7;

  font-size:12px;

  font-weight:500;

  margin:0;
}

.availability-item span{

  color:#d7d7d7;

  font-size:12px;

  font-weight:600;
}

/* ====================================== */
/* DOT */
/* ====================================== */

.availability-dot{

  width:10px;

  height:10px;

  border-radius:50%;
}

.availability-dot.green{

  background:#5ad539;
}

.availability-dot.blue{

  background:#2d6cff;
}

.availability-dot.orange{

  background:#f5a623;
}

.availability-dot.red{

  background:#ff3b30;
}

.availability-dot.gray{

  background:#7b7b7b;
}
.availability-chart-wrapper{

  width:160px;

  height:160px;

  min-width:160px;

  position:relative;
}

.availability-chart-wrapper{

  width:160px;

  height:160px;

  min-width:160px;

  position:relative;
}

.availability-chart-wrapper canvas{

  width:160px !important;

  height:160px !important;
}

.availability-chart-center{

  position:absolute;

  top:50%;

  left:50%;

  transform:
    translate(-50%,-50%);

  z-index:5;

  text-align:center;
}



/* all space  */
/* ===================================== */
/* CARD */
/* ===================================== */

.spaces-type-card{

  background:#0b0b0b;

  border:
    1px solid rgba(255,255,255,.05);

  border-radius:8px;

  padding:24px;


}

/* ===================================== */
/* HEADER */
/* ===================================== */

.spaces-type-header{

  margin-bottom:22px;
}

.spaces-type-header h3{

  color:#fff;

  font-size:16px;

  font-weight:700;

  margin:0;
}

/* ===================================== */
/* LIST */
/* ===================================== */

.spaces-type-list{

  display:flex;

  flex-direction:column;
}

/* ===================================== */
/* ITEM */
/* ===================================== */

.spaces-type-item{

  display:flex;

  align-items:center;

  justify-content:space-between;

  padding:5px 0;

  border-bottom:
    1px solid rgba(255,255,255,.05);
}

/* ===================================== */
/* LEFT */
/* ===================================== */

.spaces-type-left{

  display:flex;

  align-items:center;

  gap:14px;
}

.spaces-type-left h4{

  color:#f1f1f1;

  font-size:15px;

  font-weight:600;

  margin:0;
}

/* ===================================== */
/* RIGHT */
/* ===================================== */

.spaces-type-item span{

  color:#d7d7d7;

  font-size:15px;

  font-weight:600;
}

/* ===================================== */
/* ICON */
/* ===================================== */

.spaces-icon{

  width:38px;

  height:38px;

  border-radius:12px;

  display:flex;

  align-items:center;

  justify-content:center;

  font-size:18px;
}

/* COLORS */

.spaces-red{

  background:
    rgba(255,59,48,.08);

  color:#ff3b30;
}

.spaces-purple{

  background:
    rgba(140,82,255,.08);

  color:#9b5cff;
}

.spaces-orange{

  background:
    rgba(255,159,10,.08);

  color:#ff9f0a;
}

.spaces-green{

  background:
    rgba(50,215,75,.08);

  color:#32d74b;
}

.spaces-blue{

  background:
    rgba(74,141,255,.08);

  color:#4a8dff;
}

/* ===================================== */
/* BUTTON */
/* ===================================== */

.view-spaces-btn{

  margin-top:5px;

  background:none;

  border:none;

  color:#ff3b30;

  font-size:16px;

  font-weight:700;

  display:flex;

  align-items:center;

  gap:10px;

  padding:0;
}

/* ===================================== */
/* MODAL */
/* ===================================== */

#spacesModal .modal-dialog{

  max-width:900px;

  width:100%;

  margin:auto;
}

.spaces-modal-content{

  background:#050505;

  border:
    1px solid rgba(255,255,255,.06);

  border-radius:28px;

  padding:10px;

  height:85vh;

  overflow:hidden;
}

/* ===================================== */
/* HEADER */
/* ===================================== */

.spaces-modal-header{

  border:none;

  padding:14px 16px 10px;

  flex-shrink:0;
}

.spaces-modal-header h5{

  color:#fff;

  font-size:18px;

  font-weight:700;
}

.close-btn-modal{

  background:none;

  border:none;

  color:#fff;

  font-size:18px;
}

/* ===================================== */
/* BODY */
/* ===================================== */

.spaces-modal-body{

  flex:1;

  overflow-y:auto;

  overflow-x:hidden;

  padding:0 14px;
}

/* ===================================== */
/* ROW */
/* ===================================== */

.space-modal-row{

  display:flex;

  align-items:center;

  justify-content:space-between;

  padding:18px 0;

  border-bottom:
    1px solid rgba(255,255,255,.05);
}

/* ===================================== */
/* LEFT */
/* ===================================== */

.space-modal-left{

  display:flex;

  align-items:center;

  gap:16px;
}

.space-modal-left img{

  width:72px;

  height:72px;

  object-fit:cover;

  border-radius:20px;
}

.space-modal-left h4{

  color:#fff;

  font-size:16px;

  font-weight:700;

  margin-bottom:6px;
}

.space-modal-left span{

  color:#8d8d8d;

  font-size:14px;
}

/* ===================================== */
/* RIGHT */
/* ===================================== */

.space-modal-right{

  text-align:right;
}

.space-modal-right h3{

  color:#ff3366;

  font-size:18px;

  font-weight:700;

  margin-bottom:5px;
}

.space-modal-right span{

  color:#8d8d8d;

  font-size:13px;
}

/* ===================================== */
/* FOOTER */
/* ===================================== */

.spaces-modal-footer{

  border:none;

  padding:18px;

  flex-shrink:0;
}

.close-spaces-btn{

  width:210px;

  height:58px;

  border-radius:20px;

  border:
    1px solid rgba(255,255,255,.08);

  background:#0d0d0d;

  color:#fff;

  font-size:16px;

  font-weight:700;
}

/* ===================================== */
/* SCROLLBAR */
/* ===================================== */

.spaces-modal-body::-webkit-scrollbar{

  width:6px;
}

.spaces-modal-body::-webkit-scrollbar-thumb{

  background:#2a2a2a;

  border-radius:20px;
}

/* ===================================== */
/* RESPONSIVE */
/* ===================================== */

@media(max-width:768px){

  #spacesModal .modal-dialog{

    max-width:95%;
  }

  .space-modal-row{

    gap:14px;
  }

  .space-modal-left img{

    width:58px;

    height:58px;
  }

  .space-modal-right h3{

    font-size:15px;
  }
}
/* ====================================== */
/* CARD */
/* ====================================== */

.locations-card{

  background:#0a0a0a;

  border:
    1px solid rgba(255,255,255,.05);

  border-radius:8px;

  padding:26px;
/*
  height:100%; */
}

/* ====================================== */
/* HEADER */
/* ====================================== */

.locations-header{

  margin-bottom:10px;
}

.locations-header h3{

  color:#fff;

  font-size:18px;

  font-weight:700;

  margin:0;
}

/* ====================================== */
/* ITEM */
/* ====================================== */

.location-item{

  margin-bottom:5px;
}

/* ====================================== */
/* TOP */
/* ====================================== */

.location-top{

  display:flex;

  align-items:center;

  justify-content:space-between;

  margin-bottom:10px;
}

.location-top h4{

  color:#fff;

  font-size:16px;

  font-weight:600;

  margin:0;
}

.location-top span{

  color:#d4d4d4;

  font-size:16px;

  font-weight:700;
}

/* ====================================== */
/* PROGRESS */
/* ====================================== */

.location-progress{

  width:100%;

  height:7px;

  border-radius:20px;

  background:
    rgba(255,255,255,.05);

  overflow:hidden;
}

.location-progress-fill{

  height:100%;

  border-radius:20px;

  background:#ff2d2d;
}

/* ====================================== */
/* BUTTON */
/* ====================================== */

.view-locations-btn{

  margin-top:10px;

  background:none;

  border:none;

  color:#ff2d2d;

  font-size:17px;

  font-weight:700;

  display:flex;

  align-items:center;

  gap:12px;

  padding:0;
}

.view-locations-btn i{

  font-size:18px;
}

/* ====================================== */
/* MODAL WIDTH */
/* ====================================== */

#locationsModal .modal-dialog{

  max-width:900px;

  width:100%;
}
