<!-- header  -->

<div class="ticketing-header">

  <!-- Left Side -->
  <div class="ticketing-header-left">

    <h1>Ticketing</h1>

    <div class="ticketing-breadcrumb">

      <a routerLink="/mainDashboard/Overview">
        Dashboard
      </a>

      <span>/</span>

      <p>Ticketing</p>

    </div>

  </div>

  <!-- Right Side -->
  <div class="ticketing-header-right">

    <!-- Search -->

    <div class="ticketing-search-box">

      <i class="fa-solid fa-magnifying-glass"></i>

      <input
        type="text"
        placeholder="Search tickets, customers, events..."
      />

      <span>⌘K</span>

    </div>

    <!-- Notification -->

    <div class="ticketing-notification">

      <i class="fa-regular fa-bell"></i>

      <span>8</span>

    </div>

    <!-- Create Button -->

    <button class="ticketing-create-btn">

      <i class="fa-solid fa-plus"></i>

      Create Ticket

      <i class="fa-solid fa-chevron-down"></i>

    </button>

  </div>

</div>
