<div class="row g-2">

  <!-- CARD 1 -->

  <div class="col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <!-- LEFT -->

        <div class="stats-left">

          <div
            class="stats-icon producers-purple"
          >

            <i class="fa-solid fa-microphone-lines"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            14%

          </div>

        </div>

        <!-- RIGHT -->

        <div class="stats-right">

          <div>

            <h6>Total Producers</h6>

            <h2>1,245</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 2 -->

  <div class="col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div
            class="stats-icon producers-green"
          >

             <i class="fa-solid fa-circle-check"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            18%

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Verified Producers</h6>

            <h2>932</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 3 -->

  <div class="col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div
            class="stats-icon producers-orange"
          >

            <i class="fa-regular fa-calendar-days"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            22%

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Active Projects</h6>

            <h2>2,156</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 4 -->

  <div class="col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div
            class="stats-icon producers-blue"
          >

            <i class="fa-solid fa-wallet"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            16%

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Total Paid (30 Days)</h6>

            <h2>$2.58M</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 5 -->

  <div class="col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div
            class="stats-icon producers-yellow"
          >

            <i class="fa-regular fa-star"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            0.1

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Avg. Rating</h6>

            <h2>4.6 / 5</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 6 -->

  <div class="col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div
            class="stats-icon producers-red"
          >

            <i class="fa-solid fa-dollar-sign"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            19%

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Total Revenue (30 Days)</h6>

            <h2>$5.72M</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

</div>
