<div class="row g-2">

  <!-- CARD 1 -->

  <div class="col-12 col-md-6 col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <!-- LEFT -->

        <div class="stats-left">

          <div class="stats-icon">

            <i class="fa-solid fa-building"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            12%

          </div>

        </div>

        <!-- RIGHT -->

        <div class="stats-right">

          <div>

            <h6>Total Spaces</h6>

            <h2>286</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 2 -->

  <div class="col-12 col-md-6 col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div class="stats-icon blue-icon">

            <i class="fa-regular fa-calendar"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            18%

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Available Now</h6>

            <h2>142</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 3 -->

  <div class="col-12 col-md-6 col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div class="stats-icon">

            <i class="fa-solid fa-users"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            11%

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Total Capacity</h6>

            <h2>125,850</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 4 -->

  <div class="col-12 col-md-6 col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div class="stats-icon">

            <i class="fa-regular fa-circle-check"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            16%

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Active Bookings</h6>

            <h2>342</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 5 -->

  <div class="col-12 col-md-6 col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div class="stats-icon">

            <i class="fa-regular fa-clock"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            9%

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Utilization Rate</h6>

            <h2>68%</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

  <!-- CARD 6 -->

  <div class="col-12 col-md-6 col-xl-custom">

    <div class="dashboard-card stats-card">

      <div class="stats-wrapper">

        <div class="stats-left">

          <div class="stats-icon">

            <i class="fa-solid fa-dollar-sign"></i>

          </div>

          <div class="growth positive">

            <i class="fa-solid fa-arrow-up"></i>

            21%

          </div>

        </div>

        <div class="stats-right">

          <div>

            <h6>Total Revenue (30 Days)</h6>

            <h2>$1.94M</h2>

          </div>

          <span>vs last 30 days</span>

        </div>

      </div>

    </div>

  </div>

</div>
